{% extends "tasks/base.html" %}

{% block content %}
    <div class="center-column">
        <form method="POST" action="/">
            {% csrf_token %}
            {{form.title}}
            <input class="btn btn-info input" type="submit" name="Create Task">
        </form>

        <div class="to-do list">
            {% for task in tasks %}
                <div class="item-row">
                    <a class="btn btn-info btn-sm karlaFont" href="{% url 'update' task.id %}">Update</a>
                    <a class="btn btn-sm btn-danger karlaFont" href="{% url 'delete' task.id %}">Delete</a>
                    {% if task.complete %}
                        <strike style="font-family: 'Raleway', sans-serif;">{{ task }}</strike>
                    {% else %}
                        <span style="font-family: 'Raleway', sans-serif;">{{ task }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}